@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', Arial, sans-serif;
  margin:0;
  box-sizing: border-box;
}

/*SPRITE*/
  .test-jes , .test-nic, .test-ren {
    background-image: url('../assets/images/background/testimonials.jpg');
    background-repeat: no-repeat;
    display: block;
    width: 102px;
    height: 102px;
  }
  .test-jes {
    background-position: 0 0;
  }
  .test-ren {
    background-position: 0 -102px;
  }
  .test-nic {
    background-position: 0 -204px;
  }
  .circle {
    border-radius: 50%
  }
  /*COMMUNITY*/
  [class*="test-"]{
    margin: 0 auto;
  }
  .icon--rating-5 {
    width: 80px;
    margin: 0 auto;
    display: block;
    height: 21px;
  }

/* Medium devices (desktops, 992px and up) */
@media (min-width:1025px)  {
  /*GENERAL*/
  #banner h2,
  #info h2,
  #promise h2,
  #community h2,
  #checklist h2,
  #quote h2  {
    font-size: 63px;
  }
  #banner .container  p,
  #info .container  p,
  #promise .container  p,
  #community .container  p,
  #checklist .container  p ,
  #quote .container  p {
    padding: 0 10em;
    font-size: 21px;
    padding-bottom: 35px;
  }

}
