@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', Arial, sans-serif;
  margin:0;
  box-sizing: border-box;
}
/*SPRITE*/
  .test-jes , .test-nic, .test-ren {
    background-image: url('../assets/images/background/testimonials.jpg');
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 102px;
  }
  .test-jes {
    background-position: 0 0;
  }
  .test-ren {
    background-position: 0 -102px;
  }
  .test-nic {
    background-position: 0 -204px;
  }
footer ul >li {
  text-align: center;
}
footer ul >li a,
footer ul >li a:hover {
  color: #fff;
}
footer ul >li a:hover, footer ul >li a:focus {
  background: rgba(255, 255, 255, 0)!important;
}
footer .fot-iconos {
  height: 35px;
}
footer ul, footer li {
  height: 100%;
}
footer .fot-iconos ul > li {
  display: inline-block;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #1280c9;
  background: #1280c9;
  color: #fff;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width:768px)  {
  /*GENERAL*/
  #banner h2,
  #info h2,
  #promise h2,
  #community h2,
  #checklist h2,
  #quote h2  {
    font-size: 49px;
  }
  #banner .container > p,
  #info .container p,
  #promise .container > p,
  #community .container > p,
  #checklist .container > p ,
  #quote .container > p {
    font-size: 21px;
    padding-bottom: 35px;
  }

  /*FOOTER*/
  footer ul *{
    text-align: left;
    font-size: 14px;
  }

}
