* {
  margin:0;
  box-sizing: border-box;
}
.icon-absolute {
  position: absolute;
  background-size: 18rem;
  height: 100%;
  width: 80%;
}

/*INFO*/
#info{
  background: #F9F9F9;
}
#info .row {
  padding: 21px 0;
}
.img-circle {
  width: 224px;
  height: 224px;
  padding: 14px;
  margin: 0 auto;
}
/*CHECKLIST */

#checklist .img-relative img {
  transform: translateX(-100%) rotateZ(-5deg)
}
.check-hw img: ; {
  height: 20px!important;
}

.img-relative {
  position: relative;
  left: 80%;
}
.img-absolute {
  position: absolute;

}
.check-hw > div {
  background: #fff;
color: #000;
border-radius: 8px;
  border-color: #000;
}
.check-hw ul > li span {
  width: 20px;
    height: 20px;
    position: absolute;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width:768px)  {

  /*INFO*/
  .icon-absolute {
    background-size: 23rem;
    right: 0;
    top: 28px;
  }
  .img-circle {
    width: 289px;
    height: 289px;
  }
  #info .row > div:nth-child(2) {
    text-align: left;
  }
  #info .row > div:nth-child(2) h3 > strong{
    font-size: 4rem;
  }
  #info .row > div:nth-child(2) strong {
    font-size: 1.8rem;
  }
  /*FOOTER*/
  footer ul *{
    text-align: left;
    font-size: 14px;
  }

}
